---
import { Partytown } from '@builder.io/partytown/react';

export interface Props {
	title: string;
	description: string;
	image?: string;
	type?: string;
	next?: string;
	prev?: string;
	canonicalURL?: string | URL;
}

const { title, description, image, type, next, prev, canonicalURL } = Astro.props as Props;
const GMT_ID = (import.meta.env as any).PUBLIC_GTM_ID

---

<!-- Common -->
<meta charset="UTF-8" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
<style global>
	@import "../styles/global.css";
</style>
<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml" />
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" href="/feed/posts.xml" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- SEO -->
<link rel="canonical" href={canonicalURL} />
{next && <link rel="next" aria-label="Previous Page" href={new URL(next, canonicalURL).href}>}
{prev && <link rel="prev" aria-label="Next Page" href={new URL(prev, canonicalURL).href}>}

<!-- OpenGraph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && (<meta property="og:image" content={new URL(image, canonicalURL)}>)}

<!-- Twitter -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'} />
<meta name="twitter:site" content="@astro" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{image && (<meta name="twitter:image" content={image}>)}
<script
	type="text/partytown"
	src="node_modules/tw-elements/dist/js/index.min.js"
/>
<Partytown debug={true} forward={['dataLayer.push']} />

<script type="text/partytown">
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MPS6Q9M');
</script>
